
/* other examples make li ==> a <anchor> with href of # */
/* would make items blocks and might provide padding */

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  background-color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: 1px; solid seashell;
}
.logo {
  height: 50px;
  padding-left: 10px;
}
.menu ul {
  display: flex;
	list-style-type: none;
}
.menu li {
	text-decoration: underline;
	padding: .6em 1em;
}
/* change background-color back to black */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 69px auto 0 auto;
}
/* add black background to text; center vertically */
/* stretch background image to full size */
/* should I grab image in html vs css? */
.mission {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: url("./images/img-mission-background.jpg");
  background-size: 1200px 700px;
  background-position: center center;
  height: 700px;
  width: 1200px;
}

/* Tea of the Month section */
.month {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
}

/* Working on card styles */

.card a {
  color: seashell;
	text-decoration: none;
  /* margin: 0; */
}

/* can't get the images to fit within the card - shouldn't have to hard set size */
.thumbnail img {
  height: 200px;
  width: 300px;
}

/* Flexbox stuff from lynda.com */

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        width: 1000px;
    }

    .card {
        display: flex;
        /* justify-content: center; */
        width: 300px;
        margin: 10px 15px 10px 15px;
    }

/* Footer Styles */
footer {
  height: 250px;
  width: 100%;

}
.copyright {
  padding-left: 20px;
  text-align: left;
}
