
/*header area */
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0px;
  width: 100%;
}
.logo {
  height: 50px;
  padding-left: 10px;
}
.menu ul {
  display: flex;
	list-style-type: none;
}
.menu li a {
  color: seashell;
	text-decoration: underline;
	padding: .6em 1em;
}

/* main page styles */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* flex container to center items on page */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 69px;
}

/* Mission statement over image */
.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("./images/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
}
.mission h2, .mission h4 {
  margin: 0;
  padding: .5em 0;
  display: block;
  width: 100%;
  background-color: black;
}

/* Tea of the Month section */
.month {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
  margin: 100px 0;
}
.month h2 {
  margin: 40px 0 0 0;
  padding: .5em 0;
}
.month h4 {
  margin: 0;
  padding: .5em 0;
}

/* Card styles within Tea of the Month Section */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    width: 1000px;
}
.card {
    display: flex;
    width: 300px;
    margin: 10px 15px 10px 15px;
}
.card a {
  color: seashell;
	text-decoration: none;
}

/* can't get the images to fit within the card - shouldn't have to hard set size */
.thumbnail img {
  height: 200px;
}

/* Location Styling */
.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background: url("./images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  background-position: center center;
}
.locations h2 {
  width: 100%;
  margin: 0;
  vertical-align: bottom;
}
.location {
  margin: 15px; 20px;
  background-color: black;
  opacity: 1;
  height: 300px;
  width: 300px;
}

address {
  font-style: normal;
  line-height: 3em;
}

/* Footer Styles */
footer {
  height: 250px;
  width: 100%;
}
.copyright {
  padding-left: 20px;
  text-align: left;
}
