
/* other examples make li ==> a <anchor> with href of # */
/* would make items blocks and might provide padding */

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  background-color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: 1px; solid seashell;
}
.logo {
  height: 50px;
  padding-left: 10px;
}
.menu ul {
  display: flex;
	list-style-type: none;
}
.menu li {
	text-decoration: underline;
	padding: .6em 1em;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 69px auto 0 auto;
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("./images/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
}
.mission h2 {
  margin: 0;
  padding: .5em 0;
  display: block;
  width: 100%;
  background-color: black;
}
.mission h4 {
  margin: 0;
  padding: .5em 0;
  display: block;
  width: 100%;
  background-color: black;
}
/* Tea of the Month section */
.month {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
}

/* Working on card styles */

.card a {
  color: seashell;
	text-decoration: none;
  /* margin: 0; */
}

/* can't get the images to fit within the card - shouldn't have to hard set size */
.thumbnail img {
  height: 200px;
  width: 300px;
}

/* Flexbox stuff from lynda.com */

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        width: 1000px;
    }

    .card {
        display: flex;
        /* justify-content: center; */
        width: 300px;
        margin: 10px 15px 10px 15px;
    }

/* Location Styling */
.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url("./images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  background-position: center center;

}
.locations h2 {
  width: 100%;
  vertical-align: bottom;
}
.location {
  margin: 15px; 20px;
  /* flex: 1; */
  background-color: black;
  opacity: 1;
  border: 1px solid red;
  height: 300px;
  width: 300px;
}

address {
  font-style: normal;
  line-height: 3em;
}

/* Footer Styles */
footer {
  height: 250px;
  width: 100%;
}
.copyright {
  padding-left: 20px;
  text-align: left;
}
